[buildout]
parts = py test test-jenkins
develop = .
versions = versions

[py]
recipe = zc.recipe.egg
eggs = zopyx.txng3.ext
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = zopyx.txng3.ext [test]

[test-jenkins]
recipe = collective.xmltestreport
eggs = 
    ${test:eggs}
# other eggs in this list not shown
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[versions]
collective.xmltestreport = 1.2.2
